body {
    font-family: 'Varela Round';
}

footer {
    background-color: #000;
    font-size: 13px;
}

.footer-content {
    display: flex;
}

.left-content {
    color: #fff;
    display: flex;
}

.right-content {
    color: #676767;
}

.social-icons {
    display: flex;
    gap: 12px;
}

footer a {
    color: #676767;
    text-decoration: underline;
}

footer a:hover {
    color: #676767;
}

nav {
    padding-top: 50px;
}

.nav-itens {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.links-header {
    display: flex;
    gap: 42px;
    align-items: center;
}

header a {
    text-decoration: none;
    color: #fff;
}

header a:hover {
    color: #fff;
}

.contato-button {
    display: flex;
    border: 1px solid #fff;
    border-radius: 25px;
    align-items: center;
    justify-content: center;
    width: 131px;
    height: 50px;
}

.icon-seta {
    width: min-content;
    height: min-content;
    margin-bottom: 3px;
}

#header {
    height: 905px;
    max-height: 905px;
    background-size: cover;
    background-position: center;
    transition: background-image 0.5s ease;
}

#header-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 50px;
    font-weight: 400;
    text-align: center;
    line-height: 60.2px;
    width: 929px;
}