header {
    background-color: #000;
}

hr {
    padding: 0;
    margin: 0;
    background-color: #313131;
    height: 2px;
    opacity: 1;
}

#header {
    height: 200px;
}

.timeline {
    display: flex;
    flex-direction: column;
    padding-top: 5em;
}

.timeline-section {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../images/timeline-bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 500px;
}

.timeline-elements {
    display: flex;
    justify-content: center;
    align-items: center;
}

.timeline-element {
    color: #313131;
    text-align: center;
    width: 14.2%;
    display: inline-block;
    position: relative;
    margin-top: 25px;
}

.timeline-element::before {
    content: '';
    width: 2px;
    height: 25px;
    background: #313131;
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -2px;
}

.element-title {
    font-size: 20px;
    color: #AFAFAF;
}

.element-title-active {
    color: #fff;
}

.element-description {
    font-size: 14px;
    color: #AFAFAF;
}

.element-description-active {
    color: #fff;
}

.timeline-year {
    color: #AFAFAF;
    text-align: center;
    width: 14.2%;
    font-weight: 400;
    font-size: 40px;
}

.timeline-year-active {
    color: #fff;
    font-size: 80px;
}

.mobile-elements {
    display: none;
}

.timeline-help {
    background-color: #000;
    color: #fff;
    padding-top: 2em;
    height: 400px;
}

.timeline-help h2, h3 {
    margin: 0;
    text-align: center;
    padding-top: 1em;
}

.timeline-help a {
    color: #6D6D6D;
}

@media (max-width: 991px) {
    .timeline-section {
        height: 100%;
    }

    .timeline-elements {
        flex-direction: column;
    }

    .timeline-element::before {
        display: none;
    }

    .timeline-year {
        width: 100%;
        display: flex;
    }

    .timeline-year:nth-child(even) {
        justify-content: flex-start;
    }

    .timeline-year:nth-child(odd) {
        justify-content: flex-end;
    }

    hr {
        display: none;
    }

    .desktop-elements {
        display: none;
    }

    .mobile-elements {
        display: block;
    }

    .timeline {
        padding-top: 0px;
    }

    .timeline-help {
        height: auto;
    }
}